body {
    margin: 0;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.container--z-index {
    position: relative;
    z-index: 2;
}

.header {
    position: relative;
    height: 900px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header::before {
    position: absolute;
    content: "";
    background-color: #1f1f1f;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .8;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}


.header__menu-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.header__menu-link {
    display: inline-block;
    padding: 45px 15px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.header__menu-link:hover {
    color: #615cfd;
}


.header__menu-link--underline {
    position: relative;
    padding-bottom: 12px;
    padding-top: 12px;
}

.header__menu-link--underline::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #615cfd;
    bottom: 0;
    left: 0;
}

.header__title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 790px;
}

.header__title-text {
    max-width: 920px;
    color: #fff;
    font-family: roboto,sans-serif;
    font-size: 78px;
    font-weight: 400;
    line-height: 84px;
    margin-bottom: 54px;
}

.btn {
    display: inline-block;
    background: #615cfd;
    color: #fff;
    padding: 12px 33px;
    font-family: muli,sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.5s;
}

.btn:hover {
    color: #615cfd;
    border-color: #615cfd;
    background-color: transparent;
}
