.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: montserrat,sans-serif;
  background-color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 1px;
}

a:hover {
  text-decoration: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
  padding: 20px;
  font-size: 30px;
  font-family: montserrat,sans-serif;
  font-weight: 600;
}

.header__word {
  color: black;
  height: 35px;
  font-weight: 600;
}

.header__pro {
  color: #57ccc3;
  font-weight: 600;
}

.header__ander {
  font-size: 12px;
  color: #969696;
  font-weight: 500;
  line-height: .75;
  margin-top: 6px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
  font-weight: 600;
}

.header__list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15px;
  font-size: 14px;
}

.header__list-li {
  text-decoration: none;
  margin-right: 29px;
  list-style-type: none;
  color: black;
}

.header__a {
  color: black;
}

.header__a:hover {
  color: #57ccc3;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 46px;
  padding: 13px 10px;
  background-color: #fd556d;
  border: 2px solid transparent;
  border-color: #fd556d;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 20px;
  color: white;
}

.header__button:hover {
  border: 2px solid #fd556d;
  color: #fd556d;
  background: 0 0;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.header__a-b {
  color: white;
}

.header__a-b:hover {
  color: #fd556d;
}

.header__li-info {
  list-style-type: none;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  background-color: #F0F8FF;
  -webkit-transition: .5s;
  transition: .5s;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 7px 2px;
}

.header__li-info:hover {
  background-color: #57ccc3;
}

.fab-color {
  color: black;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 91px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: montserrat,sans-serif;
}

.background__image {
  width: 1280px;
  height: 768px;
  background: url(https://colorlib.com/preview/theme/drpro/images/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner__text {
  width: 550px;
  height: 283px;
  margin-left: 70px;
  margin-top: 290px;
}

.banner__text-s {
  margin-top: 200px;
  padding-top: 600px;
  font-size: 30px;
  font-weight: 500;
  color: #57ccc3;
}

.banner__h {
  font-size: 60px;
  color: #404040;
  font-weight: 400;
}

.banner__p {
  font-size: 14px;
  color: #828282;
  line-height: 2.14;
}

.banner__button-pozisen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

.banner__button-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 46px;
  padding: 13px 10px;
  background-color: #fd556d;
  border: 2px solid transparent;
  border-color: #fd556d;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.banner__button-r:hover {
  border: 2px solid #fd556d;
  color: #fd556d;
  background: 0 0;
}

.banner__button-ra {
  color: white;
}

.banner__button-ra:hover {
  color: #fd556d;
}

.banner__button-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 46px;
  padding: 13px 10px;
  border: 2px solid transparent;
  border-color: #57ccc3;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 20px;
  border: 2px solid #57ccc3;
  color: #57ccc3;
  background: 0 0;
}

.banner__button-g:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 46px;
  padding: 13px 10px;
  background-color: #57ccc3;
  border: 2px solid transparent;
  border-color: #57ccc3;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.appointment {
  margin-bottom: 0px;
  padding-top: 90px;
}

.container {
  width: 1110px;
  height: 700px;
}

.appoin__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: montserrat,sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
  margin-left: 50px;
}

.appoin__box-text {
  width: 555px;
  height: 485px;
  padding: 10px;
  margin-right: 20px;
}

.appoin__p {
  font-size: 18px;
  color: #828282;
  margin-bottom: 0px;
}

.appoin__h {
  font-size: 48px;
  font-family: montserrat,sans-serif;
  font-weight: 400;
}

.appoin__p-text {
  font-size: 14px;
  color: #828282;
  font-family: montserrat,sans-serif;
  line-height: 2.14;
}

.appoin__box-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 80px;
  margin-right: 80px;
  font-weight: 600;
}

.ap__box-bold {
  font-weight: 700;
  color: #57ccc3;
  line-height: .75;
  font-size: 36px;
}

.appoin__box-card {
  width: 555px;
  height: 485px;
  -webkit-box-shadow: 0 25px 38px rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 38px rgba(0, 0, 0, 0.2);
}

.inro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__h {
  width: 336px;
  height: 80px;
  background-color: #57ccc3;
  color: white;
  text-align: center;
  padding-top: 25px;
  font-size: 24px;
}

.intro__form-box {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.input__form {
  width: 210px;
  height: 60px;
  background: 0 0;
  border: solid 2px #e6ebf1;
  margin: 7px;
  padding-left: 25px;
}

.input__form:hover {
  border-color: #57ccc3;
}

.select__form {
  width: 210px;
  height: 60px;
  background: 0 0;
  border: solid 2px #e6ebf1;
  margin: 7px;
  padding-left: 25px;
}

.select__form:hover {
  border-color: #57ccc3;
}

.appoin__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 480px;
  height: 46px;
  padding: 13px 10px;
  background-color: #fd556d;
  border: 2px solid transparent;
  border-color: #fd556d;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 30px;
}

.appoin__button:hover {
  border: 2px solid #fd556d;
  color: #fd556d;
  background: 0 0;
}

.advantages {
  width: 1280px;
  height: 649px;
  background-color: #eff3f7;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.advant__size {
  width: 620px;
  height: 649px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advant__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(https://colorlib.com/preview/theme/drpro/images/why_1.jpg);
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.advant__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advan__text-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}

.advan__text-s {
  color: #828282;
  font-size: 18px;
}

.advan__text-h {
  color: #404040;
  font-size: 48px;
}

.advan__text-p {
  color: #828282;
  font-size: 15px;
  margin-right: 50px;
  line-height: 2.14;
}

.advan__text-down-ul {
  padding-left: 0px;
}

.advan__text-li {
  list-style-type: none;
}

.advan__text-pozit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.advan__dovi-backg {
  margin: 20px 30px;
  width: 60px;
  height: 60px;
  background-color: #57ccc3;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 7px 2px;
}

.advan__dovi-img {
  width: 35px;
  height: 35px;
  margin: 5px;
  margin-left: 10px;
}

.middle__img {
  margin-right: 5px;
  margin-left: 5px;
}

.last__img {
  margin-top: 7px;
  margin-left: 5px;
}

.advan__text-pozit-tx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 30px;
}

.advan__text-title {
  font-size: 18px;
  font-weight: 600;
  color: #404040;
  line-height: 1.2;
}

.advan__text-body {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}

.phone {
  width: 100%;
  height: 160px;
  background: #fd556d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.phone__text-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0px;
  margin-right: 200px;
  padding: 30px 20px;
  padding-left: 0px;
}

.phone__text-title {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
  font-family: montserrat,sans-serif;
}

.phone__text-body {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 2;
  margin-top: -1px;
  font-weight: 400;
  font-family: montserrat,sans-serif;
}

.phone__text-number {
  width: 300px;
  height: 60px;
  margin-left: 70px 30px;
  padding-left: 24px;
  padding-top: 2px;
  padding-right: 25px;
  line-height: 59px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  background: #ee4860;
  border-radius: 19px;
  white-space: nowrap;
  font-family: montserrat,sans-serif;
  font-weight: 400;
}

.services {
  padding-bottom: 600px;
  background: #fff;
  padding-top: 91px;
  padding-bottom: 25px;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.services__title-a {
  font-size: 18px;
  font-weight: 500;
  color: #a6abb2;
  line-height: .75;
  font-weight: 400;
  font-family: montserrat,sans-serif;
  margin-bottom: 5px;
}

.services__title-b {
  font-size: 48px;
  font-weight: 400;
  color: #404040;
  line-height: 1.2;
  font-family: montserrat,sans-serif;
  margin-bottom: 50px;
}

.services__card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.services__card {
  width: 360px;
  height: 210px;
  margin: 0px 20px 70px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: montserrat,sans-serif;
}

.services__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: montserrat,sans-serif;
}

.services__card-text-a {
  font-size: 20px;
  font-weight: 400;
  font-family: montserrat,sans-serif;
  color: #404040;
  line-height: 1.2;
  margin-top: 17px;
  margin-bottom: 21px;
}

.services__card-text-b {
  font-size: 14px;
  color: #828282;
  font-family: montserrat,sans-serif;
  line-height: 2.14;
}

.services__dovi-backg {
  margin: 5px 30px;
  width: 60px;
  height: 60px;
  background-color: #57ccc3;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 7px 2px;
}

.services__dovi-img {
  width: 35px;
  height: 35px;
  margin: 5px;
  margin-left: 6px;
}

.subscribe {
  padding-bottom: 0px;
}

.subsc__background {
  width: 100%;
  height: 610px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(https://colorlib.com/preview/theme/drpro/images/extra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.subsc__card {
  width: 380px;
  height: 490px;
  -webkit-box-shadow: 0 25px 38px rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 38px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-left: 800px;
  margin-top: 50px;
  padding: 47px 30px 64px 43px;
}

.subsc__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.subsc__text-srong {
  font-size: 60px;
  font-weight: 600;
  color: #57ccc3;
  font-family: montserrat,sans-serif;
  line-height: .75;
}

.subsc__text-srong-span {
  display: inline-block;
  font-size: 36px;
  font-weight: 400;
  vertical-align: super;
}

.subsc__text-strong-d {
  font-size: 24px;
  font-weight: 500;
  color: #979797;
  line-height: .75;
  padding-top: 26px;
}

.subsc__extra {
  font-size: 72px;
  color: #404040;
  line-height: 1.11;
  font-weight: 500;
  font-family: montserrat,sans-serif;
}

.subsc__text-p {
  font-family: montserrat,sans-serif;
  font-size: 14px;
  line-height: 1.11;
  font-weight: 500;
  color: #828282;
  margin-top: 20px;
}

.subsc__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 167px;
  height: 46px;
  padding: 11px 10px;
  background-color: #fd556d;
  border: 2px solid transparent;
  border-color: #fd556d;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 20px;
  color: white;
  margin-top: 30px;
}

.subsc__button:hover {
  border: 2px solid #fd556d;
  color: #fd556d;
  background: 0 0;
}

.newsletter {
  width: 100%;
  height: 280px;
}

.newsletter__backgrond {
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(https://colorlib.com/preview/theme/drpro/images/newsletter.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 80px;
}

.newsletter__content {
  margin: 30px;
  margin-bottom: 100px;
}

.newsletter__text {
  padding-bottom: 80px;
  text-align: center;
}

.newsletter__text-sp {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
  font-family: montserrat,sans-serif;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.newsletter__input {
  width: 560px;
  height: 46px;
  background: 0 0;
  border: solid 2px #e6ebf1;
  color: e6ebf1;
  padding-left: 34px;
  outline: none;
}

.newsletter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 167px;
  height: 46px;
  padding: 11px 10px;
  background-color: #fd556d;
  border: 2px solid transparent;
  border-color: #fd556d;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 20px;
  color: white;
  margin-left: -13px;
}

.footer {
  background-color: #26292d;
  padding-bottom: 70px;
}

.footer__bord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__blok {
  width: 263px;
  height: 286px;
  margin-top: 100px;
  margin-left: 25px;
}

.footer__title-dr {
  color: white;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  margin-top: 25px;
  font-family: montserrat,sans-serif;
  font-weight: 600;
}

.footer__word {
  color: black;
  height: 35px;
  font-weight: 600;
}

.footer__pro {
  color: #57ccc3;
  font-weight: 600;
}

.footer__ander {
  font-size: 12px;
  color: #969696;
  font-weight: 500;
  line-height: .75;
  margin-top: 6px;
}

.footer__title {
  color: white;
  padding-top: 55px;
  font-size: 18px;
  font-family: montserrat,sans-serif;
}

.footer__text {
  color: #868686;
  margin-top: 40px;
  font-family: montserrat,sans-serif;
  font-size: 14px;
  line-height: 2.14;
}

.footre__text-city {
  color: #57ccc3;
}

.footer__blok-list {
  width: 263px;
  height: 286px;
  border: 2px solid transparent;
  border-color: #4d5157;
}

.footer__list-date {
  width: 263px;
  height: 286px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__list-title {
  text-align: center;
}

.footer__list-text {
  color: #868686;
  font-size: 14px;
  line-height: 1.2;
  font-family: montserrat,sans-serif;
}
/*# sourceMappingURL=main.css.map */