@import 'source/_variables';
@import 'source/_buttons';
@import 'source/_header';
@import 'source/_banner';
@import 'source/_appointment';
@import 'source/_advantages';
@import 'source/_phone';
@import 'source/_services.scss';
@import 'source/_subscribe.scss';
@import 'source/_footer.scss';
